extends ../layout

block content
  p.text1
    u
        b ↳ 
        a(href='/') Index 
        > 
        a(href='/factsheet') Factsheets 
        > #{drug.name}
    table.table1
      thead
        tr
          th.theader(style='width: 25%;')
            | #{drug.name}
          th.theader(style='width: 75%;')
            | Info
    table.table2
      tbody.tbody1
        for property, name in drug.properties 
          - name = name.charAt(0).toUpperCase() + name.slice(1);
          tr
            td.tlefttext(style='width: 25%;') 
              b #{name}
            td.ttext(style='width: 75%;')
              - if (typeof(property) === 'string'){
                | #{property}
              -} else {
                -each line in property
                  | #{line}
                  br
              -}
